[submodule "dep/OpenGLAda"]
	path = dep/OpenGLAda
	url = https://github.com/flyx/OpenGLAda
	branch = master
[submodule "dep/ada-traits-containers"]
	path = dep/ada-traits-containers
	url = https://github.com/AdaCore/ada-traits-containers
[submodule "dep/gnatcoll-core"]
	path = dep/gnatcoll-core
	url = https://github.com/AdaCore/gnatcoll-core
[submodule "dep/stb"]
	path = dep/stb
	url = https://github.com/nothings/stb
[submodule ".\\OpenGLAda\\"]
	branch = master
